<div class="w-full p-3 bg-[#242441] sm:flex justify-between">
  <div class="text-white text-2xl">E T I Y A</div>
  <div class="flex gap-4">
    <div class="text-white text-2xl">0</div>
    <div class="text-white text-2xl">S</div>
    <div class="text-white text-2xl">MENU</div>
  </div>
</div>
<div class="my-8"></div>
<div class="w-full p-3 bg-[#242441] sm:flex justify-between">
  <div class="text-white text-2xl">E T I Y A</div>
  <div class="sm:flex gap-4">
    <div class="flex gap-2">
      <div class="text-white text-2xl">I</div>
      <span class="text-white text-2xl">MUSTAFA ÇELİKEL</span>
    </div>
    <span class="text-white text-2xl">Dırector Corp Education</span>
    <div class="flex gap-4">
      <div class="text-white text-2xl">0</div>
      <div class="text-white text-2xl">S</div>
      <div class="text-white text-2xl">MENU</div>
    </div>
  </div>
</div>
