<div class="max-w-md mx-auto p-5 bg-white shadow-md rounded-lg">
    <h4 class="text-xl font-bold mb-4">Todo List</h4>
  
    <div class="flex mb-4">
      <input 
        placeholder="Add todo" 
        type="text" 
        [(ngModel)]="todo" 
        class="flex-1 p-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring focus:ring-blue-300" 
      />
      <button 
        (click)="addTodo()" 
        class="bg-blue-500 text-white px-4 rounded-r-md hover:bg-blue-600 transition duration-200"
      >
        Add Todo
      </button>
    </div>
  
    <ul>
      <ng-container *ngIf="todoList.length === 0; else todoListTemplate">
        <li class="text-gray-500 text-center">There is no Todo.</li>
      </ng-container>
      <ng-template #todoListTemplate>
        <li 
          *ngFor="let todo of todoList; let index = index" 
          class="flex items-center justify-between bg-gray-100 p-2 mb-2 rounded-md"
        >
          <span>{{ index + 1 }}. {{ todo }}</span>
          <button 
            (click)="deleteTodo(index)" 
            class="bg-red-500 text-white px-2 rounded-md hover:bg-red-600 transition duration-200"
          >
            X
          </button>
        </li>
      </ng-template>
    </ul>
  </div>
  